{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{% spaceless %}
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACHklEQVRoQ+2Z4TEEQRCF30VABogAESACREAIRIAIkIEQiICLABkQASKgvrJdNTs1tzvnrm9n1cyf3dqdme3Xr6df78xEI2+TkduvCmBoBisDpTKwKela0o4k7odsb5JeJJ1L4r7VUiGEwc+S1oe0OvHtT0m7MYgUgHtJh4UZb+Y8SDoKbUsB+CjQ+2YzIbTVB+C7UO+bWS2npxioAJwZrAw4O7h3+spA6CLyMmq90eu33w5XQb8zSWvRuHdJd80zBPUkMe/CDLxKupGE4KGOT5L2MgGEH7+UdBGNm0rab55xfVwmAGoRjI7rkb8CwDZqnO3ASFcAs0rvRQDEXnYFQCFFjUQtAhsYTosB3EoivlkbvAvjPOUEYt5i3RVAGI4HHQAASmikwIUAqHZZQ1wJS4AWAQCPkm2IbdZM2EIA9DttXsIY/x9FAOhKSCEAaq6YSca6ZaHcEJoHQFges2ZIz6MCYOKGJtBIEBZ2S9cBDwaYM/mr2DCxVCHzAsC8eP04ir3BGMjVgfjHKVzQtpgHYSBXB2IALGjGElLuAMjbJlZkDjKItS4dsAxjIhdnLCsSeW5ZKe6zcDXalSZX8a4CWIWXc8UweT5Qt1WcKaprwNnBvdP3MoCQxLsFvbOuqAO7Fq3zin+5vQ5CVLY0Fr4adW7tiszaaQCElQi5m1ZeUUTY4FDKl6wjJi9DXOatx6wubp1j0srAHM5y6Tp6Bn4AudOSMQOXzakAAAAASUVORK5CYII=" style="width: 30px;" alt="One To Many" />
            {% endspaceless %}</span>
        <strong>Documents</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Documents Relationships</h2>

    {% set type_list = { 0: 'All', 1: 'One', 2: 'Many', 3: 'Embed' } %}
    {% set embedded_list = { 0: 'All', 1: 'True', 2: 'False' } %}

    {% set document_input = request.query.get('document', '') %}
    {% set type_input = request.query.get('type', 0) %}
    {% set embedded_input = request.query.get('embedded', '') %}

    <table>
        <tr>
            <th>Filter</th>
            <td>
                <form id="document-form" action="" method="get" style="display: inline">
                    <input type="hidden" name="panel" value="{{ collector.name }}">
                    <label for="document">Document</label>
                    <input type="text" name="document" value="{{ document_input }}" />

                    <label for="type">Type</label>
                    <select id="type" name="type">
                        {% for value, text in type_list %}
                            <option value="{{ value }}"{{ value == type_input ? ' selected' : '' }}>{{ text }}</option>
                        {% endfor %}
                    </select>

                    <label for="embedded">Embedded</label>
                    <select id="embedded" name="embedded">
                        {% for value, text in embedded_list %}
                            <option value="{{ value }}"{{ value == embedded_input ? ' selected' : '' }}>{{ text }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Document</th>
            <th>Field Name</th>
            <th>Type</th>
            <th>Embedded</th>
            <th>Target Document</th>
        </tr>
        {% for document in collector.documents
            if (document_input == '' or document_input|lower in document.document|lower)
            and (type_input == 0 or type_list[type_input]|lower == document.mappings.type)
            and (embedded_input == 0 or embedded_list[embedded_input]|lower == document.mappings.embedded)
        %}
            <tr>
                <td>
                    {{ document.document }}
                </td>
                <td>
                    {{ document.mappings.fieldName }}
                </td>
                <td>
                    {{ document.mappings.type }}
                </td>
                <td>
                    {{ document.mappings.embedded }}
                </td>
                <td>
                    {{ document.mappings.targetDocument }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
